<div class="workorder-grid">
  <section
    class="sidebar"
    [scrollTop]="verticalScrollPosition()"
    (scroll)="onTimelineScroll($event)"
  >
    <div class="grid-header">
      <div class="grid-header-row">
        <div class="sidebar-title">Work Center</div>
      </div>
    </div>

    <div class="sidebar-body">
      @for (wc of workOrdersGroupedByWorkCenterAsArray(); track wc.workCenterId) {
        <div class="sidebar-row" [class.hovered]="wc.workCenterId === workCenterHovered">
          {{ wc.workCenterName }}
        </div>
      }
    </div>
  </section>

  <section
    class="timeline"
    #timelineContainer
    [scrollTop]="verticalScrollPosition()"
    (scroll)="onTimelineScroll($event)"
  >
    <div class="grid">
      <div class="grid-header">
        <div class="grid-header-row timescales">
          @for (date of timelineDates(); track date.label) {
            <div class="grid-col timescales-col" [style.width.px]="colWidth()">
              {{ date.label }}
            </div>
          }
        </div>
      </div>

      <div
        class="grid-body"
        #timescalesBodyContainer
        (mousemove)="onMouseMoveInGrid($event)"
        (mouseleave)="onMouseLeaveGrid()"
      >
        @for (wc of workOrdersGroupedByWorkCenterAsArray(); track wc.workCenterId; let i = $index) {
          <div
            class="grid-row"
            (mouseenter)="onRowHover(wc.workCenterId)"
            [class.hovered]="wc.workCenterId === workCenterHovered"
          >
            <nl-timeline-row
              [rowIndex]="i"
              [workOrders]="wc.workOrders"
              [dates]="timelineDates()"
              (workOrderHovered)="onWorkOrderHover($event)"
              (elementHovered)="elementHovered.set($event)"
              (deleteWorkOrder)="deleteWorkOrder.emit($event)"
              (editWorkOrder)="editWorkOrder.emit($event)"
              (updateWorkOrder)="updateWorkOrder.emit($event)"
              (workOrderDragged)="workOrderBeingDragged.set($event)"
            >
            </nl-timeline-row>
          </div>
        }

        @for (row of fillerRows(); track i; let i = $index) {
          <div class="grid-row" (mouseenter)="onRowHover(null)"></div>
        }

        <nl-preview-card
          [previewCardStyles]="previewCardStyles()"
          (createWorkorder)="onCreateWorkorder($event)"
        ></nl-preview-card>

        <div
          [style.--nl-timeline-scroll-left-position.px]="timelineScrollLeftPosition()"
          class="nl-timeline-date-indicator"
        >
          <div class="nl-timeline-date-indicator__label">Today</div>
        </div>
      </div>
    </div>
  </section>
</div>
