<section class="nl-workorders-container">
  <div class="nl-workorders-header">
    <div class="nl-workorders-header-title">{{ title }}</div>
  </div>

  <div class="nl-workorders-filters">
    <div class="nl-workorders-timescale-filter">
      <nl-dropdown-menu
        (opened)="trigger.setAttribute('data-opened', 'true')"
        (closed)="trigger.removeAttribute('data-opened')"
      >
        <button contextTrigger #trigger class="nl-workorders-timescale-filter-button">
          <span class="nl-workorders-timescale-filter-label"> Timescale </span>

          <div class="nl-workorders-timescale-filter-selection">
            <span class="nl-workorders-timescale-filter-selection__text">
              {{ TimescaleNames[timescaleConfig().scale] }}
            </span>

            <span class="nl-workorders-timescale-filter-selection__icon">
              <nl-icon icon="down"></nl-icon>
            </span>
          </div>
        </button>

        <nl-dropdown-list
          contextMenu
          class="nl-dropdown-menu-default"
          [hostElement]="trigger"
          [items]="timescaleFilterOptions"
          [selectedItem]="timescaleConfig().scale"
          (selectionChange)="onTimescaleFilterOptionSelected($event)"
        >
        </nl-dropdown-list>
      </nl-dropdown-menu>
    </div>
  </div>

  <div class="nl-workorders-content">
    <nl-timeline
      [workOrdersGroupedByWorkCenter]="workOrdersGroupedByWorkCenter()"
      [timescaleConfig]="timescaleConfig()"
      (createWorkOrder)="onCreateWorkOrder($event)"
      (deleteWorkOrder)="onDeleteWorkOrder($event)"
      (editWorkOrder)="onEditWorkOrder($event)"
    >
    </nl-timeline>
  </div>
</section>

@defer (on timer(500)) {
  <nl-create-work-order
    [open]="isWorkOrderFormOpen()"
    [workOrder]="newWorkOrder()"
    [workOrderError]="newWorkOrderError()"
    (canceled)="onShowCreateWorkOrderForm(false)"
    (created)="onWorkOrderCreated($event)"
  >
  </nl-create-work-order>
}
