.nl-tooltip {
  --nl-tooltip-animation-delay: 0.3s;
  position: absolute;
  bottom: 100%;
  transform: translate3d(0, 10%, 0);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  white-space: nowrap;
  z-index: 10;
  pointer-events: none;
  margin-bottom: 6px;
  opacity: 0;
  z-index: 10;
  animation-name: TooltipSlideUp;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: var(--nl-tooltip-animation-delay);
}

@keyframes TooltipSlideUp {
  from {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
