.nl-login {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 20vh;
}

.nl-login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
  }
}

.nl-login-form__row {
  margin-bottom: 20px;

  &--error {
    color: red;
  }

  &--actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    button {
      &[nlButtonVariant="primary"] {
        padding: 6px 16px;
      }
    }
  }
}
