<nav class="nl-nav-container">
  <a [routerLink]="['/', workspaceId(), 'v', 'timelines']" class="nav-logo-link">
    <img src="assets/images/naologic.png" alt="Naologic logo" class="logo" />
  </a>

  <div class="nl-nav__items">
    @for (item of navLinks(); track $index) {
      <a routerLink="{{ item.url }}" class="nl-nav__item" [class.active]="item.isActive">
        {{ item?.name }}
      </a>
    }

    <div class="nl-nav__right">
      <a [routerLink]="['/logout']" class="nl-nav__item">Logout</a>
    </div>
  </div>
</nav>
