<section class="nl-workorders-container">
  <div class="nl-workorders-header">
    <div class="nl-workorders-header-title">{{ title }}</div>
  </div>

  <section class="nl-workorders-options">
    <div class="nl-workorders-filters">
      <div class="nl-workorders-timescale-filter">
        <nl-dropdown-menu
          (opened)="trigger.setAttribute('data-opened', 'true')"
          (closed)="trigger.removeAttribute('data-opened')"
        >
          <button contextTrigger #trigger class="nl-workorders-timescale-filter-button">
            <span class="nl-workorders-timescale-filter-label"> Timescale </span>

            <div class="nl-workorders-timescale-filter-selection">
              <span class="nl-workorders-timescale-filter-selection__text">
                {{ TimescaleNames[timescaleConfig().scale] }}
              </span>

              <span class="nl-workorders-timescale-filter-selection__icon">
                <nl-icon icon="down"></nl-icon>
              </span>
            </div>
          </button>

          <nl-dropdown-list
            contextMenu
            [hostElement]="trigger"
            [items]="timescaleFilterOptions"
            [selectedItem]="timescaleConfig().scale"
            (selectionChange)="onTimescaleFilterOptionSelected($event)"
          >
          </nl-dropdown-list>
        </nl-dropdown-menu>
      </div>
    </div>

    <div class="nl-workorders-actions">
      <button
        nlButton
        nlButtonVariant="primary"
        nlButtonSize="small"
        class="nl-workorders-action-button"
        (click)="openCreateWorkCenterForm()"
      >
        <nl-icon icon="plus"></nl-icon>
        <span>Create Work Center</span>
      </button>
    </div>
  </section>

  <div class="nl-workorders-content">
    <nl-timeline
      [workCentersMap]="workCentersMap()"
      [workOrdersGroupedByWorkCenter]="workOrdersGroupedByWorkCenter()"
      [timescaleConfig]="timescaleConfig()"
      (createWorkOrder)="onCreateWorkOrder($event)"
      (deleteWorkOrder)="onDeleteWorkOrder($event)"
      (editWorkOrder)="openEditWorkOrderForm($event)"
      (updateWorkOrder)="onUpdateWorkOrderDates($event)"
    >
    </nl-timeline>
  </div>
</section>

@defer (on timer(500)) {
  <nl-create-work-order
    [open]="isCreateWorkOrderFormOpen()"
    [workOrder]="newWorkOrder()"
    [workCenter]="workCenterForBeingCreatedWorkOrder()"
    [workOrderError]="formError()"
    (canceled)="closeCreateWorkOrderForm()"
    (created)="onWorkOrderCreated($event)"
  >
  </nl-create-work-order>
}

@defer (on timer(500)) {
  <nl-edit-work-order
    [open]="isEditWorkOrderFormOpen()"
    [workOrder]="editingWorkOrder()"
    [workOrderError]="formError()"
    (canceled)="closeEditWorkOrderForm()"
    (updated)="onEditWorkOrder($event)"
  >
  </nl-edit-work-order>
}

@defer (on timer(500)) {
  <nl-create-work-center
    [open]="isCreateWorkCenterFormOpen()"
    [workCenter]="newWorkCenter()"
    [workCenterError]="formError()"
    (canceled)="closeCreateWorkCenterForm()"
    (created)="onCreateWorkCenter($event)"
  >
  </nl-create-work-center>
}
