.nl-workorder-preview-card {
  display: none;
  height: 38px;
  border: 1px solid rgba(195, 199, 255, 1);
  border-radius: 8px;
  background-color: rgba(101, 112, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
  }
}
