@use '../../../common/styles/scroll-bar.mixin.scss' as *;

:host {
  display: flex;
  width: auto;
  height: 100%;
  position: relative;
}

.timeline-item {
  --background-color: rgba(237, 238, 255, 1);
  --border-color: rgba(222, 224, 255, 1);

  user-select: none;
  display: flex;
  align-items: center;
  height: 38px;
  box-shadow: 0 0 0 1px var(--border-color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--nl-color-default);
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 4px;
  padding: 10px 8px 10px 8px;
  position: absolute;

  &:hover {
    cursor: pointer;
  }

  &.mouse-down {
    cursor: grabbing;
    opacity: 0.8;
    pointer-events: none;
  }

  &.hovered-in-timeline-bar {
    box-shadow: 0 0 0 3px var(--border-color);
  }
}

.nl-timeline-item-handle {
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: transparent;
  border-radius: 6px;
  z-index: 2;
  display: none;

  .timeline-item:hover & {
    display: block;
  }

  &--left {
    left: -4px;
    cursor: ew-resize;
  }

  &--right {
    right: -4px;
    cursor: ew-resize;
  }
}

.timeline-item-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  overflow: hidden;
  padding: 2px;
}

.timeline-item-name {
  min-width: 30px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
}

.tooltip-separator {
  display: inline-block;
  padding-inline: 4px;
}

.nl-timeline-go-to {
  position: sticky;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  font-size: 13px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  opacity: 0.3;
  margin-top: 12px;
  transition: all 0.2s;
  border: 1px solid rgba(0, 0, 0, 1);
  z-index: 1;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 32px;
    background: transparent;
    z-index: -1;
  }

  &::before {
    left: -10px;
  }

  &:after {
    right: -10px;
  }

  &:hover, &[data-opened='true'] {
    cursor: pointer;
    opacity: 1;
    background: #fff;
  }

  &--left {
    left: 16px;
  }
}

.nl-timeline-go-to__menu {
  max-height: 300px;
  overflow-y: auto;
  @include scrollbar();
}

.nl-timeline-go-to__header {
  font-size: 14px;
  font-weight: 500;
  color: var(--nl-color-default);
  padding: 4px 8px;
  border-bottom: 1px solid rgba(200, 207, 233, 1);
}

.nl-timeline-go-to__trigger {
  width: 30px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .nl-timeline-context-menu {
  min-width: 150px;
}

.nl-timeline-go-to-dropdown-item {
  display: flex;
  padding: 8px 12px;
  gap: 20px;
  font-size: 14px;
  color: var(--nl-color-default);
  transition: background-color 0.2s;

  &__left {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__dates {
    font-size: 12px;
    color: var(--nl-color-secondary);
  }

  &:hover, &.hovered {
    background-color: rgba(237, 238, 255, 1);
    cursor: pointer;
  }
}
